/***
 *    ######## ##    ## ########   #######   ######   ########     ###    ########  ##     ## ##    ## 
 *       ##     ##  ##  ##     ## ##     ## ##    ##  ##     ##   ## ##   ##     ## ##     ##  ##  ##  
 *       ##      ####   ##     ## ##     ## ##        ##     ##  ##   ##  ##     ## ##     ##   ####   
 *       ##       ##    ########  ##     ## ##   #### ########  ##     ## ########  #########    ##    
 *       ##       ##    ##        ##     ## ##    ##  ##   ##   ######### ##        ##     ##    ##    
 *       ##       ##    ##        ##     ## ##    ##  ##    ##  ##     ## ##        ##     ##    ##    
 *       ##       ##    ##         #######   ######   ##     ## ##     ## ##        ##     ##    ##    
 */
@font-face {
  font-family: "Raleway-Medium";
  src: url(../../fonts/Raleway-Medium.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Raleway-Light";
  src: url(../../fonts/Raleway-Light.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-bold";
  src: url(../../fonts/Montserrat-Bold.ttf);
  font-weight: normal;
}
/***
 *    ##     ## ######## ##    ## ##     ## 
 *    ###   ### ##       ###   ## ##     ## 
 *    #### #### ##       ####  ## ##     ## 
 *    ## ### ## ######   ## ## ## ##     ## 
 *    ##     ## ##       ##  #### ##     ## 
 *    ##     ## ##       ##   ### ##     ## 
 *    ##     ## ######## ##    ##  #######  
 */
/***
 *       ###     ######   ######  ########  ######   ######  #### ########  #### ##       #### ######## ##    ## 
 *      ## ##   ##    ## ##    ## ##       ##    ## ##    ##  ##  ##     ##  ##  ##        ##     ##     ##  ##  
 *     ##   ##  ##       ##       ##       ##       ##        ##  ##     ##  ##  ##        ##     ##      ####   
 *    ##     ## ##       ##       ######    ######   ######   ##  ########   ##  ##        ##     ##       ##    
 *    ######### ##       ##       ##             ##       ##  ##  ##     ##  ##  ##        ##     ##       ##    
 *    ##     ## ##    ## ##    ## ##       ##    ## ##    ##  ##  ##     ##  ##  ##        ##     ##       ##    
 *    ##     ##  ######   ######  ########  ######   ######  #### ########  #### ######## ####    ##       ##    
 */
/***
 *    ########     ###     ######   ########  ######  
 *    ##     ##   ## ##   ##    ##  ##       ##    ## 
 *    ##     ##  ##   ##  ##        ##       ##       
 *    ########  ##     ## ##   #### ######    ######  
 *    ##        ######### ##    ##  ##             ## 
 *    ##        ##     ## ##    ##  ##       ##    ## 
 *    ##        ##     ##  ######   ########  ######  
 *    
 */
/***
 *    ##          ###    ##    ##  #######  ##     ## ########  ######  
 *    ##         ## ##    ##  ##  ##     ## ##     ##    ##    ##    ## 
 *    ##        ##   ##    ####   ##     ## ##     ##    ##    ##       
 *    ##       ##     ##    ##    ##     ## ##     ##    ##     ######  
 *    ##       #########    ##    ##     ## ##     ##    ##          ## 
 *    ##       ##     ##    ##    ##     ## ##     ##    ##    ##    ## 
 *    ######## ##     ##    ##     #######   #######     ##     ######  
 */
.container {
  width: 1170px;
}

.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.widget_search_filter {
  margin-top: 30px;
}
.widget_search_filter hr {
  margin-top: 10px;
  margin-bottom: 15px;
}
.widget_search_filter .dropdown {
  margin-bottom: 15px;
}

.category-wrapper ul {
  width: 100%;
  padding-left: 0;
}
.category-wrapper ul li {
  display: block;
  padding-right: 20px;
  list-style-type: disc;
}

.prdt-wrap {
  float: left;
  border: 1px solid #666;
  height: 260px;
}
.prdt-wrap .prdt-img {
  padding: 20px;
}
.prdt-wrap p {
  margin: 20px;
}

ul.filetypes {
  padding-left: 0;
}
ul.filetypes li {
  display: inline-block;
  margin-right: 20px;
}
