@font-face {
	font-family: "Raleway-Medium";  
	src: url(../../fonts/Raleway-Medium.otf);  
	font-weight: normal;  
}

@font-face {
	font-family: "Raleway-Light";  
	src: url(../../fonts/Raleway-Light.otf);  
	font-weight: normal;  
}

@font-face {
	font-family: "Montserrat-bold";  
	src: url(../../fonts/Montserrat-Bold.ttf);  
	font-weight: normal;  
}
